@font-face{ 
    font-family: 'acumin-pro', sans-serif;
}


html{
    cursor: url("cursor-mini.png"), auto;
}

body{
    margin: 0;
    padding; 0;
    width: 100vw;
    height: auto;
    background-color: #d2d4d1;
}

/*UNDER CONSTRUCTION*/
#categoriesuc{
    position: fixed;
    width: 100vw;
    margin: 0;
    margin-top: 1vh;
    padding: 0;
    height: auto;
}


#name{    
    position: relative;
    margin-top: 0;
    float: left;
    height: auto;
    top: 0px;
    width: 30vw;
}

#sticky{    
    position: absolute;
    margin-top: 16.5vh;
    float: left;
    height: auto;
    top: 0px;
    width: 18vw;
}

#img{
    position: relative;
    float: left;
    margin-left: 0vw;
    width: 10vw;

}

#links{
    position: relative;
    float: left;
    margin-top: 1vh;
}

#about{
    display: relative;
    margin: 0;
    margin-top: 1vh;
    float: right;
    padding-right: 10vw;
    width: 70vw;
}


p.links{
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    padding-left: 1vw;
    letter-spacing: 0.02em;
    top: 0px;
    margin: 0;
}

a.links:link {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.links:visited {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.links:hover {
    text-decoration: underline;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}


@media only screen and (max-width: 760px) {
  /* For mobile phones: */
    #categoriesuc{
    margin: 1vh 2vw;
    width: 100vw;
    font-size: 0.9em;
    padding: 0;
  }
    #sticky{
    width: 100vw;
    margin-top: 70vh;
    padding: 0;
  }
    #links{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    }
    
    #about{
    width: 96vw;
    margin-top: 5vh;
    margin-left: 2vw;
    padding-right: 2vw;
    float: left;
    font-size: 0.9em;
  }
    #img{
    width: 20vw;    
    }
    
}

@media only screen and (max-width: 320px) {
    #categoriesuc{
    font-size: 0.75em;
    } 
    
    #about{
    font-size: 0.75em;
  }
    
    #links{
    font-size: 0.9em;
    }
}



/*SITE - HEADER*/
#header{
    position: fixed;
    width: 100vw;
    display: block;
    height: auto;
    top: 0.5vh;
    z-index:3;
}

p.header{
    font-family: 'acumin-pro', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
}

#pinta, #info, #research{    
    margin-top: 0;
    float: left;
    top: 0px;
    width: 20vw;
}

#press{
    margin-top: 0;
    float: left;
    top: 0px;
    width: 40vw;
}

#categories{
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: auto;
}

p.categories{
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 1.05em;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 0px;
    margin: 0;
}

#name, #type, #date, #details, #description{
    margin-top: 0;
    float: left;
    top: 0px;
    width: 20vw;
}

/* PROJECTS */
p.grid{
    font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    top: 0px;
    margin: 0;
    padding: 0;
}

#projects::-webkit-scrollbar {
    display: none;
}

#projects{
    position: relative;
    height: auto;
    width: 98vw;
    margin: auto;
    top: 7vh;
}

#project16, #project15, #project14{ 
    position: relative;
    height: auto;
    margin-top: 3vh;
}

#gallery16, #gallery15, #gallery14{
    position: relative;
    object-fit: contain;
    background-color: #d2d4d1;
    height: 85vh;
    margin: 0;
    padding: 0;
    width: 98vw;
  /*  outline: 1px dashed black; */
    z-index: 2;
}

#grid16, #grid15, #grid14{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    width: 98vw;
    height: auto;
    margin-top: 1vh;
    padding: 0;
}

#name16, #type16, #date16, #details16, #description16, #name15, #type15, #date15, #details15, #description15, #name14, #type14, #date14, #details14, #description14{
    margin-top: 0;
    display: block;
    float: left;
    top: 0px;
    width: 18vw;
    /*outline: 1px dashed black;*/
}


/* TOGGLES */
.moreinfo{
    font-family: 'acumin-pro', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    top: 0px;
    margin: 0;
    padding: 0;
}

#moreinfo16, #moreinfo15, #moreinfo14 {
    position: relative;
    display: none;
    height: auto;
    width: 38vw;
    float: right;
    padding-top: 2vh;
    padding-bottom: 3vh;
}


/*INFO*/
#infotxt{
    position: relative;
    height: auto;
    width: 100vw;
    margin: auto;
    top: 10vh;
}

p.infotxt{
    font-family: 'acumin-pro', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    padding-left: 1vw;
    padding-right: 23vw;
    top: 0px;
    margin: 0;
}

a.info:link {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.info:visited {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.info:hover {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.pinta:link {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.pinta:visited {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}

a.pinta:hover {
    text-decoration: none;
    cursor: url("cursor-mini.png"), auto;
    color: black;
}
